
# ----- ASL ---------- #
ThirdParty/ASL/*.a
ThirdParty/ASL/*.o
ThirdParty/ASL/*.so
ThirdParty/ASL/*.la
ThirdParty/ASL/*.lo
ThirdParty/ASL/*.lai
ThirdParty/ASL/*.pc
ThirdParty/ASL/*.log
ThirdParty/ASL/*.status
ThirdParty/ASL/*.mod
ThirdParty/ASL/Makefile
ThirdParty/ASL/.libs/
# ----- Blas ---------- #
ThirdParty/Blas/*.a
ThirdParty/Blas/*.o
ThirdParty/Blas/*.so
ThirdParty/Blas/*.la
ThirdParty/Blas/*.lo
ThirdParty/Blas/*.lai
ThirdParty/Blas/*.pc
ThirdParty/Blas/*.log
ThirdParty/Blas/*.status
ThirdParty/Blas/*.mod
ThirdParty/Blas/Makefile
ThirdParty/Blas/.libs/
# ----- HSL ---------- #
ThirdParty/HSL/*.a
ThirdParty/HSL/*.o
ThirdParty/HSL/*.so
ThirdParty/HSL/*.la
ThirdParty/HSL/*.lo
ThirdParty/HSL/*.lai
ThirdParty/HSL/*.pc
ThirdParty/HSL/*.log
ThirdParty/HSL/*.status
ThirdParty/HSL/*.mod
ThirdParty/HSL/Makefile
ThirdParty/HSL/.libs/
# ----- Lapack ---------- #
ThirdParty/Lapack/*.a
ThirdParty/Lapack/*.o
ThirdParty/Lapack/*.so
ThirdParty/Lapack/*.la
ThirdParty/Lapack/*.lo
ThirdParty/Lapack/*.lai
ThirdParty/Lapack/*.pc
ThirdParty/Lapack/*.log
ThirdParty/Lapack/*.status
ThirdParty/Lapack/*.mod
ThirdParty/Lapack/Makefile
ThirdParty/Lapack/.libs/
# ----- Metis ---------- #
ThirdParty/Metis/*.a
ThirdParty/Metis/*.o
ThirdParty/Metis/*.so
ThirdParty/Metis/*.la
ThirdParty/Metis/*.lo
ThirdParty/Metis/*.lai
ThirdParty/Metis/*.pc
ThirdParty/Metis/*.log
ThirdParty/Metis/*.status
ThirdParty/Metis/*.mod
ThirdParty/Metis/Makefile
ThirdParty/Metis/.libs/
# ----- Mumps ---------- #
ThirdParty/Mumps/*.a
ThirdParty/Mumps/*.o
ThirdParty/Mumps/*.so
ThirdParty/Mumps/*.la
ThirdParty/Mumps/*.lo
ThirdParty/Mumps/*.lai
ThirdParty/Mumps/*.pc
ThirdParty/Mumps/*.log
ThirdParty/Mumps/*.status
ThirdParty/Mumps/*.mod
ThirdParty/Mumps/Makefile
ThirdParty/Mumps/.libs/

# ----- Ipopt ---------- #
Ipopt/*.a
Ipopt/*.o
Ipopt/*.so
Ipopt/*.la
Ipopt/*.lo
Ipopt/*.lai
Ipopt/*.pc
Ipopt/*.log
Ipopt/*.status
Ipopt/*.mod
Ipopt/Makefile
Ipopt/.libs/
Ipopt/contrib/JavaInterface/Makefile
Ipopt/contrib/MatlabInterface/src/Makefile
Ipopt/contrib/MatlabInterface/examples/startup.m
Ipopt/contrib/RInterface/src/Makevars
Ipopt/contrib/sIPOPT/Makefile
Ipopt/contrib/sIPOPT/src/Makefile
Ipopt/contrib/sIPOPT/src/.deps/
Ipopt/contrib/sIPOPT/AmplSolver/Makefile
Ipopt/contrib/sIPOPT/examples/parametric_cpp/Makefile
Ipopt/contrib/sIPOPT/examples/parametric_dsdp_cpp/Makefile
Ipopt/contrib/sIPOPT/examples/redhess_cpp/Makefile
Ipopt/doxydoc/doxygen.conf
Ipopt/examples/Cpp_example/Makefile
Ipopt/examples/hs071_c/Makefile
Ipopt/examples/hs071_cpp/Makefile
Ipopt/examples/hs071_f/Makefile
Ipopt/examples/hs071_f/hs071_f.f
Ipopt/examples/ScalableProblems/Makefile
Ipopt/src/Algorithm/*.a
Ipopt/src/Algorithm/*.o
Ipopt/src/Algorithm/*.so
Ipopt/src/Algorithm/*.la
Ipopt/src/Algorithm/*.lo
Ipopt/src/Algorithm/*.lai
Ipopt/src/Algorithm/*.pc
Ipopt/src/Algorithm/*.log
Ipopt/src/Algorithm/*.status
Ipopt/src/Algorithm/*.mod
Ipopt/src/Algorithm/Makefile
Ipopt/src/Algorithm/.libs/
Ipopt/src/Algorithm/.deps/
Ipopt/src/Algorithm/LinearSolvers/*.a
Ipopt/src/Algorithm/LinearSolvers/*.o
Ipopt/src/Algorithm/LinearSolvers/*.so
Ipopt/src/Algorithm/LinearSolvers/*.la
Ipopt/src/Algorithm/LinearSolvers/*.lo
Ipopt/src/Algorithm/LinearSolvers/*.lai
Ipopt/src/Algorithm/LinearSolvers/*.pc
Ipopt/src/Algorithm/LinearSolvers/*.log
Ipopt/src/Algorithm/LinearSolvers/*.status
Ipopt/src/Algorithm/LinearSolvers/*.mod
Ipopt/src/Algorithm/LinearSolvers/Makefile
Ipopt/src/Algorithm/LinearSolvers/.libs/
Ipopt/src/Algorithm/LinearSolvers/.deps/
Ipopt/src/Algorithm/Inexact/*.a
Ipopt/src/Algorithm/Inexact/*.o
Ipopt/src/Algorithm/Inexact/*.so
Ipopt/src/Algorithm/Inexact/*.la
Ipopt/src/Algorithm/Inexact/*.lo
Ipopt/src/Algorithm/Inexact/*.lai
Ipopt/src/Algorithm/Inexact/*.pc
Ipopt/src/Algorithm/Inexact/*.log
Ipopt/src/Algorithm/Inexact/*.status
Ipopt/src/Algorithm/Inexact/*.mod
Ipopt/src/Algorithm/Inexact/Makefile
Ipopt/src/Algorithm/Inexact/.libs/
Ipopt/src/Algorithm/Inexact/.deps/
Ipopt/src/Apps/*.a
Ipopt/src/Apps/*.o
Ipopt/src/Apps/*.so
Ipopt/src/Apps/*.la
Ipopt/src/Apps/*.lo
Ipopt/src/Apps/*.lai
Ipopt/src/Apps/*.pc
Ipopt/src/Apps/*.log
Ipopt/src/Apps/*.status
Ipopt/src/Apps/*.mod
Ipopt/src/Apps/Makefile
Ipopt/src/Apps/.libs/
Ipopt/src/Apps/.deps/
Ipopt/src/Apps/AmplSolver/*.a
Ipopt/src/Apps/AmplSolver/*.o
Ipopt/src/Apps/AmplSolver/*.so
Ipopt/src/Apps/AmplSolver/*.la
Ipopt/src/Apps/AmplSolver/*.lo
Ipopt/src/Apps/AmplSolver/*.lai
Ipopt/src/Apps/AmplSolver/*.pc
Ipopt/src/Apps/AmplSolver/*.log
Ipopt/src/Apps/AmplSolver/*.status
Ipopt/src/Apps/AmplSolver/*.mod
Ipopt/src/Apps/AmplSolver/Makefile
Ipopt/src/Apps/AmplSolver/ipopt
Ipopt/src/Apps/AmplSolver/.libs/
Ipopt/src/Apps/AmplSolver/.deps/
Ipopt/src/Apps/CUTErInterface/*.a
Ipopt/src/Apps/CUTErInterface/*.o
Ipopt/src/Apps/CUTErInterface/*.so
Ipopt/src/Apps/CUTErInterface/*.la
Ipopt/src/Apps/CUTErInterface/*.lo
Ipopt/src/Apps/CUTErInterface/*.lai
Ipopt/src/Apps/CUTErInterface/*.pc
Ipopt/src/Apps/CUTErInterface/*.log
Ipopt/src/Apps/CUTErInterface/*.status
Ipopt/src/Apps/CUTErInterface/*.mod
Ipopt/src/Apps/CUTErInterface/Makefile
Ipopt/src/Apps/CUTErInterface/.libs/
Ipopt/src/Common/*.a
Ipopt/src/Common/*.o
Ipopt/src/Common/*.so
Ipopt/src/Common/*.la
Ipopt/src/Common/*.lo
Ipopt/src/Common/*.lai
Ipopt/src/Common/*.pc
Ipopt/src/Common/*.log
Ipopt/src/Common/*.status
Ipopt/src/Common/*.mod
Ipopt/src/Common/Makefile
Ipopt/src/Common/.libs/
Ipopt/src/Common/.deps/
Ipopt/src/contrib/CGPenalty/*.a
Ipopt/src/contrib/CGPenalty/*.o
Ipopt/src/contrib/CGPenalty/*.so
Ipopt/src/contrib/CGPenalty/*.la
Ipopt/src/contrib/CGPenalty/*.lo
Ipopt/src/contrib/CGPenalty/*.lai
Ipopt/src/contrib/CGPenalty/*.pc
Ipopt/src/contrib/CGPenalty/*.log
Ipopt/src/contrib/CGPenalty/*.status
Ipopt/src/contrib/CGPenalty/*.mod
Ipopt/src/contrib/CGPenalty/Makefile
Ipopt/src/contrib/CGPenalty/.libs/
Ipopt/src/contrib/CGPenalty/.deps/
Ipopt/src/contrib/LinearSolverLoader/*.a
Ipopt/src/contrib/LinearSolverLoader/*.o
Ipopt/src/contrib/LinearSolverLoader/*.so
Ipopt/src/contrib/LinearSolverLoader/*.la
Ipopt/src/contrib/LinearSolverLoader/*.lo
Ipopt/src/contrib/LinearSolverLoader/*.lai
Ipopt/src/contrib/LinearSolverLoader/*.pc
Ipopt/src/contrib/LinearSolverLoader/*.log
Ipopt/src/contrib/LinearSolverLoader/*.status
Ipopt/src/contrib/LinearSolverLoader/*.mod
Ipopt/src/contrib/LinearSolverLoader/Makefile
Ipopt/src/contrib/LinearSolverLoader/.libs/
Ipopt/src/contrib/LinearSolverLoader/.deps/
Ipopt/src/Interfaces/*.a
Ipopt/src/Interfaces/*.o
Ipopt/src/Interfaces/*.so
Ipopt/src/Interfaces/*.la
Ipopt/src/Interfaces/*.lo
Ipopt/src/Interfaces/*.lai
Ipopt/src/Interfaces/*.pc
Ipopt/src/Interfaces/*.log
Ipopt/src/Interfaces/*.status
Ipopt/src/Interfaces/*.mod
Ipopt/src/Interfaces/Makefile
Ipopt/src/Interfaces/.libs/
Ipopt/src/Interfaces/.deps/
Ipopt/src/LinAlg/*.a
Ipopt/src/LinAlg/*.o
Ipopt/src/LinAlg/*.so
Ipopt/src/LinAlg/*.la
Ipopt/src/LinAlg/*.lo
Ipopt/src/LinAlg/*.lai
Ipopt/src/LinAlg/*.pc
Ipopt/src/LinAlg/*.log
Ipopt/src/LinAlg/*.status
Ipopt/src/LinAlg/*.mod
Ipopt/src/LinAlg/Makefile
Ipopt/src/LinAlg/.libs/
Ipopt/src/LinAlg/.deps/
Ipopt/src/LinAlg/TMatrices/*.a
Ipopt/src/LinAlg/TMatrices/*.o
Ipopt/src/LinAlg/TMatrices/*.so
Ipopt/src/LinAlg/TMatrices/*.la
Ipopt/src/LinAlg/TMatrices/*.lo
Ipopt/src/LinAlg/TMatrices/*.lai
Ipopt/src/LinAlg/TMatrices/*.pc
Ipopt/src/LinAlg/TMatrices/*.log
Ipopt/src/LinAlg/TMatrices/*.status
Ipopt/src/LinAlg/TMatrices/*.mod
Ipopt/src/LinAlg/TMatrices/Makefile
Ipopt/src/LinAlg/TMatrices/.libs/
Ipopt/src/LinAlg/TMatrices/.deps/
Ipopt/test/*.a
Ipopt/test/*.o
Ipopt/test/*.so
Ipopt/test/*.la
Ipopt/test/*.lo
Ipopt/test/*.lai
Ipopt/test/*.pc
Ipopt/test/*.log
Ipopt/test/*.status
Ipopt/test/*.mod
Ipopt/test/Makefile
Ipopt/test/hs071_c
Ipopt/test/hs071_cpp
Ipopt/test/hs071_f
Ipopt/test/.libs/
Ipopt/test/.deps/
Ipopt/tutorial/CodingExercise/C/1-skeleton/Makefile
Ipopt/tutorial/CodingExercise/C/2-mistake/Makefile
Ipopt/tutorial/CodingExercise/C/3-solution/Makefile
Ipopt/tutorial/CodingExercise/Cpp/1-skeleton/Makefile
Ipopt/tutorial/CodingExercise/Cpp/2-mistake/Makefile
Ipopt/tutorial/CodingExercise/Cpp/3-solution/Makefile
Ipopt/tutorial/CodingExercise/Fortran/1-skeleton/Makefile
Ipopt/tutorial/CodingExercise/Fortran/1-skeleton/TutorialFortran.f
Ipopt/tutorial/CodingExercise/Fortran/2-mistake/Makefile
Ipopt/tutorial/CodingExercise/Fortran/2-mistake/TutorialFortran.f
Ipopt/tutorial/CodingExercise/Fortran/3-solution/Makefile
Ipopt/tutorial/CodingExercise/Fortran/3-solution/TutorialFortran.f
Ipopt/tutorial/CodingExercise/Matlab/1-skeleton/startup.m
Ipopt/tutorial/CodingExercise/Matlab/2-mistake/startup.m
Ipopt/tutorial/CodingExercise/Matlab/3-solution/startup.m

# ----- Current directory ------ #
doc/
documentation/
doxydoc/doxygen.conf
Debug/
Release/
*.user
*.a
*.o
*.so
*.la
*.lo
*.lai
*.pc
*.log
*.status
*.mod
Makefile
libtool

